fitz==0.0.1.dev2
gradio==3.30.0
keras==2.13.1rc0
kiwisolver==1.4.4
libclang==16.0.0
linkify-it-py==2.0.2
lxml==4.9.2
Markdown==3.4.3
marshmallow==3.19.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.24.3
pandas==1.4.4
pymilvus>=2.2,<2.3
PyYAML==6.0
tensorflow==2.13.0rc0
tensorflow-hub==0.13.0
tqdm
